__tests__
__helpers__
__mocks__
src
coverage
*.tgz
.github
.husky
.idea
.gitattributes
.editorconfig
.eslintignore
.eslintrc.cjs
.lintstagedrc.js
commitlint.config.js
rollup.config.js
.prettierrc.js
sonar-project.properties
tsconfig.json
release.config.js
