name: Release

on:
  push:
    branches: [ prod, staging ]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}-release
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Run check typescript
        run: npm run ts:check

      - name: Run eslint
        run: npm run lint:check

      - name: Test
        run: npm run test -- --coverage

      - uses: actions/upload-artifact@4
        with:
          name: coverage-lcov
          path: coverage

      - name: Build
        run: |
          npm pkg delete scripts.prepare
          npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release

  sonarcube:
    runs-on: ubuntu-latest
    needs: release
    concurrency:
      group: ${{ github.ref }}-sonarcube
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@4
        with:
          name: coverage-lcov
          path: coverage

      - id: package-version
        run: npx @lomray/microservices-cli package-version

      - uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_CLOUD_TOKEN }}
        with:
          args: >
            -Dsonar.projectVersion=${{ steps.package-version.outputs.version }}
